.paginate {
  margin-top: 16px;

  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.paginate li {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #CBD5E0;
  border-radius: 0.375rem;

  outline: 0;
}

.paginate li.selected, li:hover {
  background-color: #EDF2F7;
}

.paginate li + li {
  margin-left: 8px;
}

.paginate li a {
  width: 40px;
  height: 40px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  outline: 0;
}